@import '../common/variables';

.header {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: $primary;
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid black;
  box-shadow: 0 -2px 20px black;

  .left-item {
    color: $secondary;
    margin-left: 8rem;
  }
}

.pages {
  display: flex;
  flex: 1;
  list-style: none;
  justify-content: flex-end;
  align-items: center;

  li {
    font-size: 1rem;
    margin-left: 1.5rem;
    color: rgb(180, 180, 180);
    cursor: pointer;
    // transform-origin: center;
    transition: color 1s, border-bottom 2s;
    border-bottom: 1px solid transparent;

    &:last-child {
      margin-right: 8rem;
    }

    &:hover:not(.active) {
      color: white;
      border-bottom: 1px solid white;
    }

    &.active {
      color: rgb(55, 24, 99);
    }
  }
}
