@import '../common/variables';

.body {
  display: flex;
  position: relative;
  flex-direction: column;
  perspective: 1px;

  .behind {
    background-image: url("../../public/Marathon-Running-Race.jpg");
    background-size: cover; // 100%;
    position: absolute;
    background-position: top;
    height: 800px; // @todo - may need to be rem
    width: 200vw;
  }

  .body-content {
    z-index: 1;
    transform: translateZ(0);

    .image { 
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 6rem;
      margin-top: 8rem;

      img {
        margin: 0 auto;
      }
    }

    .body-cards {
      background-color: $background;
    }
  }
}
