@import './common/variables';

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;

  .body {
    height: 100vh;
    width: 100%;
  }

  .body-cards {
    justify-content: space-between;

    .card:nth-child(odd) {
      flex-direction: row;
      text-align: left;
    }
  
    .card:nth-child(even) {
      flex-direction: row-reverse;
      text-align: right;
    }
  }
}

/* this cool so im leaving for now */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

