

$color_0: rgb(255,255,255);
$color_1: rgb(255,255,255);
$color_2: rgb(0,0,0);
$color_3: rgb(237,28,36);
$color_4: rgb(0,136,203);
$color_5: rgb(255,203,5);
$color_6: rgb(114,114,114);
$color_7: rgb(176,176,176);
$color_8: rgb(255,255,255);
$color_9: rgb(14,114,114);
$color_10: rgb(176,176,176);
$color_11: rgb(193,188,222);
$color_12: rgb(156,150,189);
$color_13: rgb(115,108,155);
$color_14: rgb(58,48,122);
$color_15: rgb(29,24,61);
$color_16: rgb(199,206,219);
$color_17: rgb(157,167,183);
$color_18: rgb(106,121,147);
$color_19: rgb(71,81,98);
$color_20: rgb(35,40,49);
$color_21: rgb(207,199,201);
$color_22: rgb(160,150,152);
$color_23: rgb(112,99,102);
$color_24: rgb(75,66,68);
$color_25: rgb(37,33,34);
$color_26: rgb(190,207,242);
$color_27: rgb(155,180,230);
$color_28: rgb(76,123,217);
$color_29: rgb(51,82,145);
$color_30: rgb(25,41,72);
$color_31: rgb(231,243,193);
$color_32: rgb(213,230,160);
$color_33: rgb(186,218,85);
$color_34: rgb(124,145,57);
$color_35: rgb(62,73,28);


$primary: $color_28;
$secondary: $color_14;

$text1: $secondary;
$text2: $color_18;
$text3: $color_20;

$background: $color_11;

$paragraph: 1rem;


// background-color: var(--bg-overlay-color);
// background-image: var(--bg-gradient);